@import url("https://use.typekit.net/hwt5cjv.css");

:root{
    --font-basica: "urbana", sans-serif;
}

*{
    padding:0;
    margin: 0;
}

body{
    background-color: black;
    color: #F0F8FF;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;

    justify-content: space-between;

    max-width: 100%;
    min-height: 100dvh;
}

.cabecalho{
    display: flex;
    justify-content: center;
    margin: 2% 0 2% 0;
}

.cabecalho__nav{
    padding: 15px 0;
    border: 2px solid #F0F8FF;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.cabecalho__nav:hover{
    background-color: blue;
    transform: scale(1.1);
}

.cabecalho__nav__retorno{
    padding: 15px 20px;
    text-decoration: none;
    color:#F0F8FF;
    font-size: 1.2rem;
    font-family: var(--font-basica);
    font-weight: 300;
}

.boasvindas{
    margin: 3% 0;
}

.boasvindas__titulo{
    font-size: 2rem;
    font-family: var(--font-basica);
    font-weight: 800;
}

.boasvindas__titulo__importante:hover{
    color: red;
}

.boasvindas__texto{
    font-size: 1.5rem;
    font-family: var(--font-basica);
    font-weight: 300;
}

.escopo{
    margin: 1% 10%;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    justify-content: space-around;
}

.escopo__verVariavel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
    margin: 1% 3% 1% 1%;
}

.escopo__verVariavel__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.escopo__verVariavel__info__texto{
    font-size: 1.7rem;
    font-family: var(--font-basica);
    font-weight: 800;
    margin: 0 0;
}

.escopo__verVariavel__retorno{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.escopo__verVariavel__retorno__variavel{
    display: flex;
    width: 200px;
    height: 32px;
    box-sizing: content-box;
    justify-content: center;
    font-size: 1.7rem;
    font-family: var(--font-basica);
    font-weight: 300;
    text-align: center;
    margin: 0 0;
}

.escopo__cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    width: 300px;
    margin: 1% 1% 1% 1%;
    gap: 30px;
}

.escopo__cadastro__texto{
    font-family: var(--font-basica);
    font-weight: 300;
    font-size: 1.5rem;
    width: 400px;
    height: 20px;
    margin: 0;
}

.escopo__cadastro__input{
    font-family: var(--font-basica);
    font-weight: 300;
    font-size: 1.2rem;
    field-sizing: content;
    min-width: 120px;
    margin: 35px 0 0 0;
    padding: 0 10px;
    height: 40px;
    text-align: center;
    border-radius: 7px;
}

.escopo__cadastro__input:disabled{
    background-color: white;
    text-align: center;
    width: 120px;
}

.escopo__cadastro__butoes{
    display: flex;
    gap: 40px;
}

.escopo__cadastro__butoes__botao{
    width: 110px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;

    font-family: var(--font-basica);
    font-size: 1.2rem;
    font-weight: 200;

    cursor: pointer;
}

.escopo__cadastro__butoes__botao:hover{
    transform: scale(1.1);
    background-color: aqua;
}

.escopo__cadastro__butoes__botao.false{
    transition: background-color 0s ease-in-out;
    background-color: red;
}

.escopo__cadastro__butoes__botao.true{
    transition: background-color 0s ease-in-out;
    background-color: green;
}

.escopo__cadastro__butoes__botao:disabled:hover{
    background-color: white;
    cursor:default;
}

.escopo__fundo{
    margin: 5% 20% 0 20%;
    font-size: 1.2rem;
    font-family: var(--font-basica);
    font-weight: 300;
}

.rodape{
    text-align: center;
    background-color: #739EC9;
    color: #000000;
    padding: 25px;
    width: 100%;
    font-size: 1.25rem;
    font-family: var(--font-basica);
    box-sizing: border-box;
}

@media(max-width: 810px){
    .boasvindas{
        margin: 0 5%;
    }

    .corpo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .escopo{
        flex-direction: column;
        align-items:  center;
        justify-content: center;
        margin: 1% 0;
        gap: 20px;
        width: 70%;
    }

    .escopo__fundo{
        margin: 0 10%;
    }

    .rodape{
        margin-top: 5%;
    }

    .escopo__verVariavel__retorno__variavel{
        width: 120px;
    }

    .escopo__cadastro__texto{
        width: 180px;
    }
}