@import url("https://use.typekit.net/hwt5cjv.css");

:root{
    --cor-principal: #F0F8FF;
    --cor-secundaria: blue;
    --cor-terciaria: black;
    --cor-quartenaria: aqua;
    --cor-rodape: #739EC9;
    --fonte-primaria: "urbana", sans-serif;
    --fonte-secundaria: "century-gothic", sans-serif;
}

*{
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    background-color: var(--cor-terciaria);
    color: var(--cor-principal);
    font-family: var(--fonte-primaria);
    box-sizing: content-box;
}

.cabecalho{
    display: flex;
    justify-content: center;
    margin: 2% 0;
}

.cabecalho__nav{
    padding: 15px 0;
    border: solid 2px var(--cor-principal);
    border-radius: 15px;
    transition: transform 0.5s ease-in-out;
}

.cabecalho__nav:hover{
    transform: scale(1.1);
    background-color: var(--cor-secundaria);
}

.cabecalho__nav__retorno{
    padding: 15px 20px;
    text-decoration: none;
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--cor-principal);
}

/* Ajuste para o rodapé acompanhar o conteudo */
#wrapper{
    flex-grow: 1;
}

.escopo{
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.escopo__apresentacao{
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.escopo__apresentacao__titulo{
    font-size: 2rem;
    font-weight: 900;
}

.escopo__apresentacao__titulo strong{
    font-size: 2.1rem;
    font-weight: 1200;
}

.escopo__apresentacao__titulo strong:hover{
    color:blueviolet;
}

.escopo__apresentacao__texto{
    font-family: var(--fonte-primaria);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 15px;
}

.escopo__apresentacao__texto strong{
    font-weight: 600;
    font-size: 1.5rem;
}

.escopo__apresentacao__exemplo{
    font-size: 1.7rem;
}

.escopo__apresentacao__exemplo strong{
    font-size: 1.8rem;
    font-weight: 700;
}

.escopo__tarefa{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 20px;
}

.escopo__tarefa__fotoCarrinho{
    width: 100px;
    margin-right: 20px;
    transition: transform 0.5s ease-in-out;
}

.escopo__tarefa__fotoCarrinho:hover{
    transform: scale(1.2);
}

.escopo__tarefa__introducao{
    font-size: 1.6rem;
    font-weight: 300;
}

.escopo__tarefa__entrada{
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Para criação de uma movimentação do label do input, usamos
de um div, um input e um label dentro dele. */

/* A posição do div tem que ser relativa, para podermos 
transformar seus filhos em absolutos (para o label) */
.escopo__tarefa__entrada__input{
    position: relative;
}

/* Input normal*/
.escopo__tarefa__entrada__input__insercao{
    border-radius: 10px;
    height: 25px;
    min-width: 120px;
    field-sizing: content;
    padding: 5px 10px;
    font-family: var(--fonte-primaria);
    font-size: 1.3rem;
    text-align: center;

    outline: none;
    border: none;
    border-bottom: solid 2px var(--cor-quartenaria);
}

/* Para definirmos o label para uma posição "fixa", o transformamos em position: absolute.
Assim, ele ficará absoluto no div, sem considerar outros elementos irmãos */
.escopo__tarefa__entrada__input__label{
    width: 140px;
    position: absolute;
    top: 10px;

    /* Aqui damos um espaçamento de até 50% do div, e justificamos ele em -50% para o centro desse espaçamento
    com transform: translateX(-50%); */
    left: 50%;
    transform: translateX(-50%);

    color:var(--cor-terciaria);
    font-size: 1.2rem;
    /* pointer-events: none, o transforma em uma ação não clicável, não interferindo assim no input */
    pointer-events: none;
    transition: 0.3s ease all;
    text-align: center;
}

/* Enquanto input estiver em foco, ou preenchido, o label se moverá para cima e mudará de cor (top: -20px; e color) */

.escopo__tarefa__entrada__input__insercao:focus + .escopo__tarefa__entrada__input__label, 
.escopo__tarefa__entrada__input__insercao:valid + .escopo__tarefa__entrada__input__label{
    top: -20px;
    color: var(--cor-quartenaria);
}

.escopo__tarefa__entrada__selecao{
    border-radius: 15px;
    border: none;
    width: 150px;
    padding: 5px 10px;
    font-family: var(--fonte-primaria);
    font-size: 0.95rem;
    font-weight: 300;
    text-align: center;
    transition: transform 0.5s ease-in-out, border 0.5s ease-in-out;
}

.escopo__tarefa__entrada__selecao:open{
    border: solid 2px var(--cor-quartenaria);
    transform: scale(1.1);
}

.escopo__tarefa__entrada__selecao::picker-icon{
    color: var(--cor-terciaria);
    transition: 0.4s rotate;
}
.escopo__tarefa__entrada__selecao:open::picker-icon{
    rotate: 180deg;
}

::picker(select){
    border: none;
}

.escopo__tarefa__botoes{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.escopo__tarefa__botoes__botao{
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    font-family: var(--fonte-primaria);
    font-size: 1.3rem;
    font-weight: 400;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.escopo__tarefa__botoes__botao:hover{
    transform: scale(1.1);
    background-color: var(--cor-quartenaria);
}

.escopo__tarefa__botoes__botao.red{
    background-color: red;
    transition: background-color 0.1s ease-in-out;
}
.escopo__tarefa__botoes__botao.green{
    background-color: green;
    transition: background-color 0.1s ease-in-out;
}

.escopo__tarefa__compras{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.escopo__tarefa__compras__conjunto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px
}

.escopo__tarefa__compras__conjunto__texto{
    font-size: 1.6rem;
    font-weight: 600;
}

.escopo__tarefa__compras__conjunto__compras{
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.escopo__tarefa__compras__conjunto__compras li{
    height: 25px;
}

.rodape{
    /* Ajusta o rodapé para não diminuir seu tamanho */
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-rodape);
    color: var(--cor-terciaria);
    font-size: 1.25rem;
    margin-top: 40px;
    padding: 25px;
}

@media(max-width: 600px){
    .escopo{
        margin: 0 1%;
    }

    .escopo__apresentacao{
        margin: 0 1%;
    }

    .escopo__tarefa__compras{
        flex-direction: column;
    }
}

@media(max-width: 400px){

    .escopo__tarefa__entrada{
        gap: 5px;
    }

    .escopo__tarefa__botoes{
        gap: 5px;
    }

}