@import url("https://use.typekit.net/hwt5cjv.css");

:root{
    --cor-principal: #F0F8FF;
    --cor-secundaria: blue;
    --cor-terciaria: black;
    --cor-quartenaria: aqua;
    --cor-rodape: #739EC9;

    --fonte-primaria: "urbana", sans-serif;
    --fonte-secundaria: "century-gothic", sans-serif;


}

*{
    margin: 0;
}

body{    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-terciaria);
    color: var(--cor-principal);
    box-sizing: border-box;
    max-width: 100%;
    min-height: 100dvh;
}

.cabecalho{
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho__nav{
    padding: 15px 0;
    border: solid 2px var(--cor-principal);
    border-radius: 15px;
    transition: transform 0.5s ease-in-out;
}

.cabecalho__nav:hover{
    background-color: var(--cor-secundaria);
    transform: scale(1.1);
}

.cabecalho__nav__texto{
    text-decoration: none;
    padding: 15px 15px;
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--cor-principal);
    cursor: pointer;
}


.escopo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 10%;
}

.escopo__apresentacao{
    display: flex;
    flex-direction: column;
    margin: 1% 0;
    gap: 20px;
}

.escopo__apresentacao__titulo{
    font-size: 2rem;
    font-family: var(--fonte-primaria);
    font-weight: 600;
}

.escopo__apresentacao__titulo strong{
    font-size: 2.2rem;
    font-weight: 800;
}

.escopo__apresentacao__titulo strong:hover{
    filter: drop-shadow(0 0 2px var(--cor-principal));
    color:var(--cor-terciaria);
}

.escopo__apresentacao__texto{
    margin: 0 2%;
    font-size: 1.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 200;
    line-height: 1.2;
}

.escopo__apresentacao__texto strong{
    font-size: 1.35rem;
    font-weight: 600;
    color: var(--cor-rodape);
}

.escopo__apresentacao__exemplo{
    font-size: 1.6rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.escopo__apresentacao__exemplo strong{
    font-size: 1.8rem;
}

.escopo__calculadora{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 10px;
    width: 400px;
}

.escopo__calculadora__texto{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 2rem;

    margin: 0 0 20px 0;

}

#Calculadora{
    width: 250px;
    height: 320px;
    background-color: #353535;
    border-radius: 25px;
    border: solid 10px #1A1A1A;

    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.escopo__calculadora__tela{
    display: flex;
    margin-top: 20px;
    box-sizing: content-box;

    overflow-y: hidden;
    flex-wrap: wrap;

    scrollbar-width: thin;
    scrollbar-color: var(--cor-principal) #8ED1DA;

    width: 80%;
    height: 70px;
    text-align: left;
    align-items: center;
    background-color: #8ED1DA;
    border-radius: 10px;
}

.escopo__calculadora__tela__texto{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    color:#1A1A1A;
    font-size: 1.6rem;
    margin: 0 10px 0 10px;
}

.escopo__calculadora__botoes{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    
}

.escopo__calculadora__botoes__apagar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.escopo__calculadora__botoes__apagar__botao{
    font-size: 1.2rem;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border: none;
    transition: transform 0.5s ease-in-out;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    cursor: pointer;
}

.escopo__calculadora__botoes__apagar__botao.limpa{
    background-color: #C44E52;
}

.escopo__calculadora__botoes__apagar__botao:hover{
    border: solid 2px var(--cor-quartenaria);
    transform: scale(1.05);
}

.escopo__calculadora__botoes__apagar__botao:active{
    background-color: green;
}

.escopo__calculadora__botoes__numerico{
    display: flex;
    width: 100%;
    gap: 5px;
}

.escopo__calculadora__botoes__numerico.entrada{
    width: 45px;
    height: 30px;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-weight: 200;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.escopo__calculadora__botoes__numerico.entrada:active{
    background-color: green;
    transform: scale(1.05);
}

.escopo__calculadora__botoes__numerico.entrada:hover{
    border: solid 1px var(--cor-terciaria);
}

.escopo__calculadora__botoes__numerico.acao{
    width: 45px;
    height: 30px;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-weight: 200;
    font-size: 1.6rem;
    border-radius: 5px;
    border: none;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.escopo__calculadora__botoes__numerico.acao:hover{
    border: solid 1px var(--cor-terciaria);
}

.escopo__calculadora__botoes__numerico.acao:active{
    background-color: green;
    transform: scale(1.05);
}

button{
    align-items: center;
    justify-content: center;
}

.rodape{
    flex-shrink: 0;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--cor-rodape);
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-size: 1.25rem;
    font-weight: 400;

    padding: 25px 0;
    margin-top: 20px;
}
